#timer-settings {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 3rem;
  left: 0;
  font-size: 1rem;
  display: flex;
  justify-content: center;
}

#settings-elements {
  margin: 2rem;
  padding: 1rem;
  background-color: white;
  width: 40%;
  display: flex;
  flex-direction: column;
}

#settings-elements h2 {
  margin: 0rem;
}

.section {
  margin-bottom: 1rem;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: minmax(0.5rem, auto);
}

.section h3 {
  color: red;
  grid-column: 1 / 7;
  margin-bottom: 0px;
}

.section h4 {
  margin-bottom: 0rem;
  font-size: 0.9rem;
  font-weight: normal;
  
}

#task {
  grid-column: span 3;
  height: 1rem;
}

.section button {
  height: 3rem;
  grid-column: span 2;
}

.num-input {
  grid-column: span 2;
}

.selection {
  grid-column: span 2;
}

#warning {
  color: red;
  grid-column: 1 / 7;
}
