.container {
  display: flex;
  flex-direction: row;
  flex: 100%;
}

.intro {
  background-color: #3a3a3a;
  padding: 4rem;
  display: flex;
  flex: 1 0;
  flex-direction: column;
  justify-content: center;
}

.list {
  color: white;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bullet {
  margin-right: 0.5rem;
  display: flex;
  justify-content: flex-start;
}

#image {
  filter: drop-shadow(1rem 1rem 1rem black);
  width: 90%;
  height: auto;
  object-fit: scale-down;
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
}


.formContainer {
  background-color: #66859b;
  color: white;
  font-size: 1rem;
  flex: 0 0 37%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elementsContainer {
  flex: 1;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.elementsContainer form {
  width: 100%;
}

.fieldContainer {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.fieldContainer input {
  padding: 0.25rem;
  font-size: 1.3rem;
}

.formContainer h2 {
  font-size: 3rem;
  width: 100%;
}

.submitBtn {
  color: white;
  background-color: #111;
  font-size: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-right: 1rem;
  border: none;
  cursor: pointer;
}

.error {
  color: #ffc7a6;
  font-size: 1rem;
  font-weight: bold;
}

.formContainer a {
  color: rgb(253, 198, 253);
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

@media (max-width: 768px) and (max-height: 900px) {
  .intro {
    padding: 1rem;
    flex: 1;
  }

  .list {
    flex-direction: column;
  }
  
  #image {
    display: none;
  }

  .formContainer {
    flex: 1 1 100%;
  }

  .formContainer h2 {
    margin: 0 0 0.5rem 0;
    font-size: 2rem;
  }

  .elementsContainer {
    margin: 1rem;
  }

  .fieldContainer {
    margin-bottom: 0.4rem;
  }
}