.form-container {
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elements-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.field-container {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.5rem;
  font-size: 1.3rem;
}

h4 {
  font-size: 4rem;
}

.submit-btn {
  background: #ff2a2aff;
  color: white;
  margin-top: 2rem;
  font-size: 2rem;
  width: 12rem;
  height: 4rem;
}