.container {
  display: flex;
  width: 100%;
}

.form-container {
  background-color: #3a3a3a;
  color: white;
  font-size: 1rem;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elements-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.field-container {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.field-container input {
  padding: 0.5rem;
  font-size: 1.3rem;
}

.form-container h2 {
  font-size: 3rem;
}

.submit-btn {
  background: #ff2a2aff;
  color: white;
  margin-top: 1rem;
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.error {
  color: red;
  font-size: 1rem;
}

a {
  color: pink;
}