#container {
  width: 40%;
  display: flex;
  justify-content: center;
  font-size: 4rem;
  fill: white;
  user-select: none;
}

#backgroundCircle {
  stroke: #555;
  stroke-width: 8px;
  fill: transparent;
}

#progressRing {
  stroke: #FE719B;
  stroke-width: 16;
  fill: transparent;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}