#container {
  width: 50%;
  margin: 3rem;
  padding: 2rem;
  background-color: #ebebebff;
  box-shadow: 2px 2px 4px #223;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

#settings-btn {
  font-size: 1.5rem;
  width: 1.5rem;
  align-self: end;
}

#timer {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#task-label {
  margin: 1rem;
  font-size: 3rem;
}

#controls {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}

#controls button {
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 5rem;
  height: 5rem;
  border: black solid 4px;
  border-radius: 50%;
}

#play-pause-btn {
  font-size: 4rem;
}

#footer {
  font-size: 1.5rem;
  justify-self: end;
  width: 100%;
  display: flex;
  justify-content: space-between;
}