#container {
  background-color: #3a3a3a;
  color: white;
  flex-basis: 50%;
  margin: 3rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  justify-content: flex-end;
}

#settingsButton {
  font-size: 1.5rem;
  width: 1.5rem;
}

#timer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-basis: 100%;
  max-height: 90%;
}

#display {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 70%;
}

#altTimeDisplay {
  display: none;
}

#taskLabel {
  font-size: 3rem;
}

#controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#controls button {
  color: white;
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 5rem;
  height: 5rem;
  border: white solid 2px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer {
  font-size: 1.5rem;
  justify-self: end;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 700px) {
  #container {
    width: 100%;
    margin: 1rem;
  }

  #taskLabel {
    margin: 0.5rem;
    font-size: 2rem;
  }

  #controls button {
    font-size: 1.5rem;
    margin: 0.5rem;
    height: 3.5rem;
    width: 3.5rem;
  }

  #footer {
    font-size: 1rem;
  }
}

@media (max-height: 500px) {
  #container {
    flex-basis: 100%;
    padding: 1rem;
    margin: 1rem;
  }

  #altTimeDisplay {
    display: flex;
    font-size: 1.5rem;
  }

  #taskLabel {
    margin: 0rem;
    font-size: 1.5rem;
  }

  #controls button {
    font-size: 1.5rem;
    margin: 2rem;
    height: 3.5rem;
    width: 3.5rem;
  }
}