#container {
  font-size: 7rem;
  fill: white;
  user-select: none;
  width: calc(calc(30vw + 30vh) / 2);
  height: calc(calc(30vw + 30vh) / 2);
}

#backgroundCircle {
  stroke: #555;
  stroke-width: 8px;
  fill: transparent;
}

#progressRing {
  stroke: #C96AE0;
  stroke-width: 16;
  fill: transparent;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

@media (max-height: 500px) {
  #container {
    display: none;
  }
}