#container {
  overflow: hidden;
  background-color: #3a3a3a;
  color: white;
  flex-basis: 50%;
  margin: 3rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  justify-content: flex-end;
}

#settingsButton {
  font-size: 1.5rem;
  width: 1.5rem;
}

#timer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-basis: 100%;
}

#altTimeDisplay {
  display: none;
}

#taskLabel {
  font-size: 3rem;
}

#controls {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#controls button {
  color: white;
  border: white solid 2px;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer {
  font-size: 1.5rem;
  justify-self: end;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#loading {
  color: white;
  justify-self: end;
  align-self: center;
}

@media (max-width: 500px), (max-height: 500px) {
  #container {
    margin: 0rem;
    padding: 1rem;
    flex-basis: 100%;
  }

  #taskLabel {
    font-size: 2.5rem;
  }
}

@media (max-height: 500px) {
  #altTimeDisplay {
    display: flex;
    font-size: 3rem;
  }
}