#overlay {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#settings {
  padding: 1.5rem;
  background-color: white;
  flex-basis: 40%;
  background-color: #3a3a3a;
  box-shadow: 2px 2px 4px rgb(1, 1, 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

#header h2 {
  margin-top: 0rem;
}

.section {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section h3 {
  width: 100%;
  margin-top: 0rem;
}

.section input, select {
  color: white;
  background-color: #222;
  border: none;
}

.section > button {
  color: white;
  background-color: #111;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-right: 1rem;
  border: none;
  cursor: pointer;
}

.section > button:disabled {
  color: grey;
  cursor: default;
}

.inputContainer {
  width: 10rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.inputContainer input {
  border: none;
  width: 100%;
}

.checkboxes {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 500px), (max-height: 500px) {
  #settings {
    flex-basis: 100%;
    height: 100%;
    padding: 1rem;
  }

  .inputContainer {
    flex-basis: 6rem;
    margin-right: 2rem;
  }

  #header h2, h3 {
    margin: 0rem;
  }

  .section {
    margin: 0;
  }

  .checkboxes {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}