#overlay {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#settings {
  padding: 1rem;
  background-color: white;
  width: 40%;
  background-color: #ebebebff;
  box-shadow: 2px 2px 4px #223;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.section h3 {
  width: 100%;
}

.input-container {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
}

#warning {
  color: red;
}