.landing {
  width: 100%;
  display: flex;
}

.intro {
  background: #aaeeffff;
  font-size: 1.8rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}