#navbar {
  color: white;
  background: black;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
}

#clock {
  width: 60%;
  margin-top: 0.5rem;
  display: flex;
  justify-content: left;
}

nav {
  flex-grow: 1;
  display: flex;
  justify-content: right;
}

.nav-btn {
  color: white;
  background: inherit;
  border: inherit;
  font-size: inherit;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  padding-left: 2rem;
  padding-right: 2rem;
}

.nav-btn-selected {
  color: black;
  background: #00ccffff;
}