#navbar {
  color: white;
  background: black;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 2rem;
  display: flex;
}

nav {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section {
  display: flex;
  flex-direction: row;
}

.navButton {
  color: white;
  background: inherit;
  border: inherit;
  font-size: inherit;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navButtonSelected {
  color: black;
  background: #00ccffff;
}