#chart {
  width: 90%;
  margin: 3rem;
  padding: 2rem;
  background-color: #ebebebff;
  box-shadow: 2px 2px 4px #223;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

#container h2 {
  align-self: start;
}

#settings-btn {
  font-size: 1.5rem;
  width: 1.5rem;
  align-self: end;
}