#container {
  background-color: #3a3a3a;
  color: white;
  flex-basis: 100%;
  margin: 3rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

#header {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

#header h2 {
  margin: 0rem;
}

#settingsButton {
  font-size: 1.5rem;
  width: 1.5rem;
  align-self: end;
}

#loading {
  font-weight: bold;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px), (max-height: 500px) {
  #container {
    margin: 0rem;
    padding: 1rem;
  }
}