#container {
  width: 90%;
  margin: 3rem;
  padding: 2rem;
  background-color: #ebebebff;
  box-shadow: 2px 2px 4px #223;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

#header {
  display: flex;
  justify-content: space-between;
}

#header h2 {
  margin-bottom: 0rem;
}

#settingsButton {
  font-size: 1.5rem;
  width: 1.5rem;
  align-self: end;
}

#svgContainer {
  width: 100%;
  height: 100%;
}