#container {
  width: 90%;
  margin: 3rem;
  padding: 2rem;
  background-color: #ebebebff;
  box-shadow: 2px 2px 4px #223;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

#header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

#header h2 {
  margin-bottom: 0rem;
}

#settingsButton {
  font-size: 1.5rem;
  width: 1.5rem;
  align-self: end;
}

#tooltip {
  background-color: grey;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

#svgContainer {
  width: 100%;
  height: 100%;
  align-self: center;
}

#dateRange {
  display: flex;
  justify-content: space-between;
}